@charset "UTF-8";

/* 상세 정보 css */
* {font-family: inherit;}

#productExplain {margin: 0 auto; text-align: center; width: 1300px;}

#topBox {width:1300px; height:700px; margin-bottom: 50px;}

#thumnailBox {width: 45%; height:450px; float: left;}

#thumnail {float:left; margin: 40px; padding-left:0px; width: 643px; height:489px;
			position: relative; bottom: 11px; left:25px;}

#prdInformation {font-size: 24px; text-align: center;border-bottom: 1px gray solid;}

#prdInformation th {width: 140px; border-top: 1px gray solid;}

#prdInformation td {width: 580px;border-top: 1px gray solid;}

#thumnail1 {width: 150px; height:150px; position: relative;
			right:240px; bottom:540px;} 
			
#thumnail2 {width: 150px; height:150px; position: relative;
			right:395px; bottom:380px;} 

#heart1 {width: 40px; height: 40px; border: none;}
#heart2 {width: 40px; height: 40px; border: none; display: none;}

#prdTitle {font-size: 45px; font-weight: 500; margin-bottom: 10px;}

#prdPrice {font-size: 50px; font-weight: 700;}

#maker {font-size: 24px;}

#quanContainer{border: 1px solid black; line-height: 10px; width: 600px; height: 170px;}

#quantityController {display: block; width: 300px; top: 55px; left:30px; position: relative;
					 height: 60px; font-family: serif;}

#plusBtn{display: inline-block; width: 40px; height: 40px; font-size: 30px; font-weight: bold; color:rgb(63,63,63);
		 background: white;}

#minusBtn{display: inline-block; width: 40px; height: 40px; font-size: 30px; font-weight: bold; color:rgb(189,189,189);
		  background: white;}

#nowQuantity{text-align: center; width: 80px; height: 40px; display: inline-block; font-size: 20px; font-weight: bold;
			 bottom: 5px;}
/* #quantityController {background: rgb(192, 192, 192); width: 200px; height: 50px;
					line-height: 35px; font-size: 40px; font-weight: bold;
					top:55px; position: relative; left:30px;} */

/* .item {margin: 0 auto; padding: 5px; position: absolute;}

.btn {background: white;}

#minusBtn{left: 0; width: 40px; height: 40px}
#prdQuantity{left: 30%; width: 40px; height: 40px}
#plusBtn{left: 60%; width: 40px; height: 40px} */

#totalPrice { float: right; margin-right: 20px; font-size: 40px;}

#buttonBox {width: 602px; height: 160px; margin-top: 15px;}

#basketBtn{width: 297px; height: 125px; background: white; font-size: 19px;
			line-height: 64px; font-weight: 800; color: black; display: inline;
			cursor: pointer;}

#buyBtn{width: 297px; height: 125px; background: rgb(192, 192, 192); color: white; font-size: 19px;
		line-height: 64px; font-weight: 800; border: none; display: inline; cursor: pointer;}

#sideCtrBar {width: 70px; background: white; display: flex; flex-direction: column;
			justify-content: center; align-items: center; text-align: center;
			bottom:300px; }


#sideCtrBar span {position: relative; top:20px;}

.slideBox {background: rgb(192, 192, 192); display: none; margin-bottom: 10px;
		   width: 90px; height: 90px; border-radius: 5px;  cursor: pointer;
		   z-index: 4; opacity: 50%;}

.sideOpacity {opacity: 100%;}

#reviewBox {margin-bottom: 60px; margin-top: 60px;}

#reviewBox td {border-spacing: 10px 10px;}

#reviewBox a {font-weight: normal;}

#reviewBox table {font-size: 20px; margin: 0 auto; border-spacing: 20px 10px;
				  border-top: 1px solid black; border-collapse: separate;
				  border-bottom: 1px solid black;}

#explainBox {float: left; padding: 20px; margin-top: 40px; margin-left: 110px;
			text-align:left; width: 550px; height: 900px;}

table tr {border: 1px black solid;}

#detailExplain {margin: 0 auto; overflow: hidden;
	width: 100%; height: 1180px; position: relative;
	z-index: 3;}

#detailExplain h2 {padding: 5px; position:inherit;}

#makerBox {margin-bottom: 60px; margin-top: 60px;}

#makerInformation {margin: 0 auto; font-size: 30px; border-spacing: 110px 1px;} 

#unrollBtn, #foldBtn {bottom: 30px; position: absolute;
			left: 575px; width: 200px; cursor: pointer; background: white; border: 1px solid rgb(192, 192, 192);
			height: 50px; border-radius: 40px;}

#foldBtn {display: none;}
			
.mainMenuFixed {position: fixed; top:0px;}
