@charset "UTF-8";

/* indexProduct.css */

/* 각 article 제목 */
.h1SizeUp {
	font-size: 30px; 
	font-weight: bold;
	text-align: center;
}

article {
	margin-top: 50px;
}

productBox1 {
	margin-top: 50px; 
}

/**************  베스트셀러 소개 아이템 박스 4개 ******************/

.contentBox {
	width: 90%;
	height: 650px;  
	padding: 30px;	 
	margin: 0 auto;
	text-align: center; 
}

.contentBox .productItemList {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
	/* inline-block 요소들 정렬 시 text-align 사용 */
	text-align: center; 
}

.productItem { /* 각 제품의 블록 */
	display: inline-block;
	width: 21%;
	min-height: 450px; 
	text-align: 400px;
	border: solid 1px #cccccc;
	margin: 10px;
	padding: 25px;
}

.productItem img { 
	/* 이미지가 각 박스에 딱 맞게 들어가게 하기 */
	width: 100%;
	min-height: 310px;
}

.productItem div:first-child {
	font-size: 16px;
}

.reviewBest {
	font-size: 14px;
}

.productItem a {
	text-decoration-line : none;
	font-weight: bold; 
	color: black; 
	padding: 25px 0; 
} 

.productItem:hover {
	opacity: 0.7;
	border: solid 2px black;  
}

.productItemName {
	margin: 15px 0;
}
