/*
    join2.css (memJoin.html) 회원가입폼
*/

/* body 색상이 왜 안들어가는지 모르겠음 */
body {
    background-color: #f4f4f4;
}

/* 나눔고딕 폰트 */
/* 적용 안되는듯? */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.joinBigbox {
    font-family: 'NanumGothic, sans-serif';
    /* position: relative; */
    width: 700px;
    height: 1075px;
    margin: 0 auto;

    /*가변그리드 안 쓰는 게 나을 것 같아서*/
    margin-top: 80px;
    /* 위에 있을 네비바랑 간격 조절용입니다 */
    margin-bottom: 60px;
    /* 밑에 있을 푸터랑 간격 조절용입니다 */
    background-color: rgb(255, 255, 255);
    /* 사이트 색상 정해지면 맞춰서 변경 가능 */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.jointext {
    /* position: absolute; */
    /* top: 30px; */
    transform: translateY(35px);
    /* 제목의 느낌이라 밑의 내용과 좀 떨어지는 게 일반적인데, 조절 가능합니다 */
    font-size: 28px;
    line-height: 35px;
    /* 1줄이라 줄간격이 의미 없긴합니다. 없애고 margin을 더 늘려도 똑같습니다
     혹시 나중에 2줄 이상 써야 하는 일이 생기면 그때 활용할 수 있게 놔두겠습니다*/
    font-weight: bold;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(51, 51, 51);
}

.joinBigbox2 {
    width: 640px;
    margin: 0px auto;
}

.emphasis1 {
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(51, 51, 51);
    /* 필수 입력사항 밑에 있는 긴 줄 */
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    text-align: right;
}

.emphasis2 {
    color: rgb(238, 106, 123);
    /* 컴퓨터는 괜찮은데 나중이라도 모바일 페이지 만들 때 
	*이 작게 안 보이는 기종이 있다면 윗첨자 속성 넣어서 작게 보이도록 가능 */
}

.labelbox {
    /* 작은 라벨 상자를 가로로 3개 담아둘 수 있는 곳 */
    display: inline-flex;
    /* flex와 달리 주어진 공간만 차지 */
    width: 100%;
    padding: 10px 20px;
}

.labelbox2 {
    /* 작은라벨상자 3개 중 왼쪽에 위치*/
    width: 139px;
    /* 넓이를 지정하여 오른쪽에 올 상자와 간격 유지  */
    padding-top: 12px;
}

.df {
    /* 아이디, 비밀번호 등 정의된 라벨들 css */
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}

.inputbox {
    /* 작은 라벨상자 3개 중 가운데 위치 */
    flex: 1 1 0%;
    /* 차례대로
	flex-grow : 남는 공간 활용하는 속성 1이면 꽉 채우기, 0이면 상자에 공간 분배 X
    flex-shrink : 컨테이너 안에 상자가 2개 있으면 둘의 공간을 어떻게 나눌지 결정합니다
	flex-basis : 기본 크기 결정하는 부분, 없어지면 양식 망가집니다*/
}

.inputbox2 {
    /*가운데 상자 안에 배치한 입력상자*/
    position: relative;
    height: 48px;
}

.inputtext {
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 2px solid green;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.inputtext:invalid {
    border: 2px solid red;
}

.inputtext:valid {
    border: 2px solid green;
}

.labelbox3 {
    /* 작은라벨상자 3개 중 오른쪽에 위치*/
    width: 120px;
    margin-left: 8px;
}

.checkbtn {
    height: 44px;
    border-radius: 3px;
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    /* width: 100%; */
    color: rgb(63, 63, 63);
    background-color: rgb(255, 255, 255);
    /* border: 1px solid rgb(63, 63, 63); */
    text-decoration: none;
    line-height: 13px;
    padding-top: 7px;
}

.checkbt {
    height: 44px;
    border-radius: 3px;
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    /* width: 100%; */
    color: rgb(63, 63, 63);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(63, 63, 63);
    text-decoration: none;
    line-height: 13px;
    padding-top: 13px;
}



.address {
    font-size: 14px;
    font-weight: 500;
}

.checktext {
    font-weight: 500;
    font-size: 14px;
}

.underchecktext {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    color: rgb(102, 102, 102);
}

.genderBigbox {
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
}

.genderchoice {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0px 9px;
}

.circle2 {
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: rgb(95, 0, 128);
    z-index: 1
}

.gendertext {
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
}

.birthbox {
    /* 생년월일을 입력할 큰 상자 */
    height: 44px;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    padding: 0px 15px;
    text-align: center;
}

.birthspace {
    padding-bottom: 0px;
}

.birthtextspace {
    position: relative;
    height: 40px;
}

.birthtext {
    text-align: center;
    font-size: 14px;
    border: none;
    width: 100%;
    height: 40px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    font-weight: 400;
    line-height: 38px;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}


.ymdInputBox {
    /* birthbox 안에 텍스트 입력할 상자  */
    position: relative;
    height: 40px;
    border: 0px;
    text-align: center;
}

.tmdtext {
    /* 생년월일 텍스트 입력 */
    text-align: center;
    font-size: 14px;
    border: 0px;
}

.slash {
    content: "/";
    font-size: 14px;
    color: rgb(204, 204, 204);
    text-align: center;
    line-height: 40px;
}

.underline2 {
    padding: 10px 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
}

.agreeBigbox {
    display: inline-flex;
    width: 100%;
    padding: 10px 0px 10px 20px;
}

.agreesmallbox {
    width: 139px;
    padding-top: 12px;
}

.agreesmallbox2 {
    flex: 1 1 0%;
}

.joinButton {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(247, 247, 247);
    padding: 40px 0px;
}

.joinButton2 {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(63, 63, 63);
    border: 0px none;
}

.jointext2 {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 18px;
}

.agreeCheckradioBox {
    flex-direction: column;
    display: flex;
    padding: 8px 0px 0px 35px;
    justify-content: space-between;
}

.smalltext {
    font-size: 12px;
    color: rgb(102, 102, 102);
    padding-top: 4px;
    padding-left: 36px;
}

.checkAndText {
    position: relative;
    display: flex;
    align-items: center;
    line-height: normal;
    color: rgb(51, 51, 51);
    padding: 0px;
    font-weight: 500;
    font-size: 18px;
    width: 205px;
}

.checkAndText2 {
    position: relative;
    display: flex;
    align-items: center;
    line-height: normal;
    color: rgb(51, 51, 51);
    padding: 0px;
    font-size: 14px;
}

.agreeCheck {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;

}

.display {
    display: flex;
}

.allcheck {
    align-items: flex-start;
    flex-direction: column;
    margin-right: 12px;
}

.fillsu {
    padding-left: 5px;
    color: rgb(153, 153, 153);
}

/* <-------------------------------------------------------------> */

.hiddencheck {
    display: none;
    /* 체크박스를 숨김 */
}

.hiddencheck:checked+.checkbtn {
    border: 2px solid rgb(0, 255, 0);
    /* 체크되었을 때 테두리 색 변경 */
}