/* likeItem.css 찜상품 */
.contents {
    align-items: center;
}


/* *************** */
/* 찜 상품 배너 css */
/* *************** */
#top-banner {
    width: 1020px;
    height: 140px;
    margin: 0 auto;
    /* 자식 요소의 위치 기준을 top-banner로 지정 */
    position: relative;
    background: #8360c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#top-banner span {
    position: absolute;
    /* 왼쪽 가장자리에서 10px 떨어짐 */
    left: 20px;
    /* 수직 중앙 정렬 */
    top: 50%;
    /* 자신의 높이의 50%만큼 위로 이동 */
    transform: translateY(-50%);
    font-family: 'NanumGothic', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    /* 그림자 효과 추가 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* ************************** */
/* 카드박스 div 전체 카드박스 목록 */
/* ************************** */

/* *******************수정중************************* */

/* 카드박스 상단의 x버튼, 체크박스 */
.card .chkbtn-box {
    height: 25px;
    line-height: 25px;
    /* background-color: #8360c3; */
    /* 수직 중앙 정렬을 위해 flex 사용 */
    display: flex;
    /* 수직 중앙 정렬 */
    align-items: center;
    /* 체크박스와 취소 버튼을 양 끝에 배치 */
    justify-content: space-between;
}

/* 마우스를 올렸을 때만 체크박스, x버튼 보이게 */
.chkbtn-box .check,
.chkbtn-box .cancelBtn {
    display: none;
}

.chkbtn-box:hover .check,
.chkbtn-box:hover .cancelBtn {
    display: flex;
}


/* x 버튼 사진 */
#cancelImg {
    width: 14px;
    height: 14px;
}

/* 체크박스 위치 */
.chkbtn-box .check {
    /* float: left; */
    /* 체크박스와 카드 왼쪽 사이 여백 */
    margin-left: 2px;
}


.chkbtn-box .cancelBtn {
    /* float: right; */
    /* 취소 버튼과 카드 오른쪽 사이 여백 */
    /* margin-right: 3px; */
    max-width: 100%;
    max-height: 100%;

    /* 기본 css 초기화 */
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* ********************************************** */



/* 카드 박스 이미지 사진담은 div */
#boxImg {
    /* background-color: #2ebf91; */
    height: 150px;
}


/* 카드 4개 담긴 박스 크기, 위치 */
#cardBox {
    margin: 0 auto;
    align-items: center;
    /* background-color: aquamarine; */
    width: 1020px;
    height: 310px;
    /* line-height: 305px; */
}

#cardBox .card {
    display: inline-block;
    padding: 10px;
    /* 수정: 카드 간 간격 조절 */
    margin: 5px;
}

.card {
    margin: 0 auto;
    margin-top: 15px;
    width: 240px;
    height: 300px;
    /* background-color: #8360c3; */
    border: 2px solid rgb(179, 179, 181);
    border-radius: 5px;
    text-align: center;
}

.card .card-img-top {
    margin-top: 10px;
    margin-bottom: 10px;
    /* align-content: center; */
    width: 130px;
    height: 130px;
}

.card .card-body {
    font-size: 0.9rem;
    height: 110px;
    /* background-color: orange; */
}

.card .card-title {
    width: 200px;
    height: 20px;
    line-height: 20px;
}