/* login.css */

/* 나눔고딕 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content-wrapper {
    position: relative;
    height: 100vh;
    background-color: #f4f4f4;
}

/* ----------로그인 컨테이너------------- */
.login-container {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.password-field {
    position: relative;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    font-size: 18px;
    width: 90%;
    height: 60px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #b4b4b477;
    border-radius: 30px;
}

/*---------------- 수정중----------------- */
/* 비밀번호 보이게 */


.password-field input {
    padding-right: 40px;
    /* 아이콘 크기만큼 오른쪽 여백 추가 */
}

.password-field i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin-right: 30px;
}

/*---------------- 수정중----------------- */


.login-container .login-btn {
    width: 90%;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.login-container button.signup-btn {
    width: 90%;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(95, 95, 95, 0.755);
    margin-top: 15px;
}

.login-btn {
    background-color: #1b1e58;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #1b1e58b0;
}

.signup-btn {
    background-color: #bdbdbd;
}

.signup-btn:hover {
    background-color: #c0c0c0;
}

/* 적용안됨 */
footer {
    background-color: #f4f4f4;
}